<!DOCTYPE html>
<html>
<head>
<title>Thông báo đăng kí</title>
<meta http-equiv="Content-Type" content="application/xhtml+xml; charset=UTF-8"/>
<meta content="initial-scale=1, width=device-width" name="viewport">
<link rel="canonical" href="http://adelina.ga{{api.r.getRequestUri()}}"/>
</head>
<body>
Đăng nhập vào wap
<hr/>
<b><font color="blue">Chúc mừng bạn đã đăng kí tài khoản thành công tại Adelina! Bạn được thưởng một 100 xu để tham gia vào các dịch vụ của wap. Hãy đăng nhập ngay bây giờ để gặp gỡ các thành viên của Adelina ^^</font></b><br/><b>Thông tin đăng nhập:</b><br/><font color="green">Tài khoản: {{api.s.get('new_nick')}}</font><br/><font color="green">Mật khẩu: {{api.s.get('new_pass')}}</font><br/><center><a href="/main.php?id=log&act=ok"><b><font color="green">Đăng nhập ngay</font></b></a></center>
<hr/>
<a href="main.php">Quay trở ra</a>
</body></html>