{#-info include trang chủ 2 info-#}<!DOCTYPE html><html><head><title>Trang chủ Adelina</title>{% include 'HoaianWebBundle:Default:meta.html.twig' %}{% include 'HoaianWebBundle:Default:style.html.twig' with {'input':'true'}%}</head><body><div class="pagewidth" id="mobile-outer-wrapper">
<div class="topmenu" id="topmenu"><span style=" padding: 0px; "><div style=" width: 20px; height: 2px; background: #848484; padding: 0px; margin-top: 3px; "></div><div style=" width: 20px; height: 2px; background: #949494; padding: 0px; margin-top: 3px; "></div><div style=" width: 20px; height: 2px; background: #909090; padding: 0px; margin-top: 3px; "></div></span> <span style=" padding: 0px; float: right; ">{{'now'|date('H:i:s')}}</span>  </span>
</div>
<div class="labelposts">
Phòng chat<br/>
Danh sách bạn<br/>
Tin nhắn<br/>
Online list<br/>
Đọc truyện<br/>
Chơi game<br/>
Diễn đàn <br/>

</div>
<div id="mobile-footer-wrapper">Adelina<div class="clear"></div></div></body></html>