<!DOCTYPE html>
<html>
<head>
<title>Trang chủ Adelina (Bạn chưa đăng nhập)</title>
<meta http-equiv="Content-Type" content="application/xhtml+xml; charset=UTF-8"/>
<meta content="initial-scale=1, width=device-width" name="viewport">
<link rel="canonical" href="http://adelina.ga{{api.r.getRequestUri()}}"/>
</head>
<body>
Chào mừng bạn đến với Adelina!
<hr/>
<center>
<form method="post" action="/main.php?id=log">Tài khoản: <input type="text" name="nick"/>&#160;Mật khẩu: <input type="password" name="pass"/>&#160;<input type="submit" value="Đăng nhập"/></form>
Quân mật khẩu liên hệ chủ wap
<br/>
hoặc
<br/>
<a href="/main.php?id=reg">Đăng ký</a>
</center>
<br/>
<hr/>
Liên hệ: 01694488636
</body>
</html>