<!DOCTYPE html>
<html>
<head>
<title>Chọn style sử dụng</title>
<meta http-equiv="Content-Type" content="application/xhtml+xml; charset=UTF-8"/>
<meta content="initial-scale=1, width=device-width" name="viewport">
<link rel="canonical" href="http://adelina.ga{{api.r.getRequestUri()}}"/>
</head>
<body>
Xin vui lòng chọn trang chủ:
<hr/>
<a href="/main.php?main=home1">Giao diện mobile</a>

</body></html>